html, body {
	background-color: white;
	color: black;
	font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
	margin: 0;  
  padding: 0;
  height: 100%;
  background-image: linear-gradient(to left, #ff8a00, #da1b60);  
}

.nav {
  background-color: black;
  color: white;
}

.nav ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  font-size: 0;  /* Hack for the empty space in @media nav-bar */
}

.nav ul li {
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  transition: background-color 0.5s;
}

.nav ul li:hover {
  background-color: white;
  color: black;
}

.image-area {
  background-position: center; 
  background-size: cover;
  padding: 200px 0;
}

.centered-container{
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 1rem;
}

.image-text {
  text-align: center;
  /* background-color: black; */
  color: white;
  font-size: 2.5rem;
}

.intro-text {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 50px 0;
}

.single-service {
  text-align: center;
  margin-bottom: 2rem;
}

.single-service p {
  padding: 0 1rem;
}

@media screen and (min-width: 700px) {
  .nav ul {
    text-align: right;
  }

  .nav ul li {
    display: inline-block;
    border-bottom: 0;
    border-left: 1px solid black;
    text-align: left;
  }

  .single-service {
    width: 50%;
    float: left;
  }
}